.background {
  height: 80vh;
  max-width: 100vw;
  background: url(/assets/images/hero-background.png) center/cover no-repeat;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.25rem;

  & div {
    height: 3rem;
    width: 4rem;
    background: url(/assets/icons/logo-icon.svg) center/contain no-repeat;
  }
}

& #hero {
  padding-inline: 1.25rem;
  margin-top: 3rem;
  max-width: 100%;
  text-align: center;
  overflow-x: hidden;

  & h1 {
    color: var(--text-title);
    font: bold 28px/100% var(--font-family);
    margin-bottom: 1rem;
  }

  & p {
    color: var(--text-body);
    font: var(--font-body-sm);
  }
}

main {
  margin-top: 2rem;

  & #about {
    padding-block: 4.25rem;
    padding-inline: 1.25rem;
    position: relative;

    & img {
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      animation: grow linear backwards;
      animation-timeline: view();
      animation-range: 25px 200px;
    }

    /* globe */
    & img:nth-child(1) {
      bottom: 1.75rem;
      right: 1rem;
      transform: rotate(20deg);
    }

    /* book */
    & img:nth-child(2) {
      top: 1rem;
      right: 22%;
      transform: rotate(20deg);
    }

    /* heart */
    & img:nth-child(3) {
      bottom: 2.2rem;
      left: 1rem;
      transform: rotate(-45deg);
    }

    & p {
      text-align: center;
      color: var(--text-body);
      font: 500 16px/140% var(--font-family);
      animation: appear linear backwards;
      animation-timeline: view();
      animation-range: 25px 200px;
    }
  }

  & #kit {
    margin-block: 4rem 5.5rem;

    & .description {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 4rem;

      & div {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        & h2 {
          font: 700 1.5rem/100% "Raleway", sans-serif;
          color: var(--text-body);
          text-align: center;
        }

        & img {
          width: 1.25rem;
          height: 1.25rem;
          filter: drop-shadow(0 0 0.75rem var(--pink-base));
        }
      }

      & p {
        font: 400 0.875rem/140% var(--font-family);
        color: var(--text-body);
      }
    }

    & .images-wrapper {
      padding-block: 5rem;
      height: 45vh;

      filter: drop-shadow(0 0 10rem rgb(149, 71, 165, 0.3));
      position: relative;

      & img[src*="book.png"] {
        position: absolute;
        width: 9.8125rem;
        height: auto;

        top: 15%;
        left: 28%;
        z-index: 10;
      }

      & img[src*="bookmark-yellow.png"] {
        position: absolute;
        width: 3.625rem;
        height: auto;
        left: 65%;
        top: 10%;
        transform: rotate(15deg);
        z-index: 8;
      }

      & img[src*="bookmark-purple.png"] {
        position: absolute;
        width: 3.625rem;
        height: auto;
        left: 75%;
        top: 20%;
        transform: rotate(25deg);
      }

      & img[src*="pin.png"] {
        position: absolute;
        width: 4.625rem;
        height: auto;

        z-index: 8;
        bottom: 0;
        left: 17%;
        transform: rotate(-12deg);
      }

      /* broche exclusivo */
      & img[src*="arrow-01"] {
        position: absolute;
        bottom: 22%;
        left: 11%;
        width: 2.2rem;
      }

      /* livro em capa dura */
      & img[src*="arrow-02"] {
        position: absolute;
        width: 3.625rem;

        top: 15%;
        left: 13%;
      }

      /* marca paginas tematico */
      & img[src*="arrow-03"] {
        position: absolute;
        width: 3rem;
        bottom: 10%;
        right: 15%;
      }

      & p {
        font: 400 0.625rem/100% var(--font-family);
        color: var(--text-title);
        position: absolute;
      }

      & #pin {
        bottom: 38%;
        left: 5%;
      }

      & #bookmark {
        bottom: 5%;
        right: 15%;
      }

      & #book {
        top: 10%;
        left: 2%;
      }
    }
  }

  & #pricing {
    background: url(/assets/images/pricing-background.png) center/cover
      no-repeat;
    margin-bottom: 18.875rem;

    & .header-pricing {
      font: 500 1.5rem/100% var(--font-family);
      color: var(--text-title);
      margin-inline: auto;
      margin-bottom: 7rem;
      width: fit-content;
      text-align: center;
      line-height: 150%;
      padding-inline: 1.25rem;
    }

    & .cards-wrapper {
      height: 100%;
      display: flex;
      gap: 1rem;
      width: 100%;
      margin-right: 1.25rem;
      align-items: center;
      margin-inline: auto;
      padding-inline: 1.25rem;
      overflow-x: scroll;

      & article {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 1.5rem;
        background-color: var(--shape-hover);
        padding-inline: 2rem;
        padding-block: 2rem 1.75rem;
        min-width: 18rem;
        height: 26rem;
        transition: transform 600ms ease-in-out, filter 500ms ease;

        & > img {
          display: none;
        }

        & .cards-header {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          margin-bottom: 1.5rem;
          position: relative;

          & p {
            font: var(--font-title-xs);
            color: var(--pink-light);
          }

          & span {
            background-color: var(--shape-stroke);
            color: var(--text-body);
            font: var(--font-tag);
            border-radius: 1rem;
            padding: 0.5625rem 1.25rem;

            position: absolute;
            right: -0.5rem;
            top: -0.5rem;
          }
        }

        & .pricing {
          & h3 {
            font: var(--font-title-md);
            color: var(--text-title);
            margin-bottom: 0.5rem;

            & small {
              font: var(--font-title-xs);
              color: var(--text-title);
            }
          }

          & small {
            font: var(--font-body-sm);
            color: var(--text-label);
          }
        }

        & .cards-topics {
          margin-top: auto;
          height: fit-content;
          font: var(--font-body-xs);
          color: var(--text-body);
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          margin-bottom: 1.5rem;

          & p {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            & img {
              width: 0.875rem;
              height: 0.875rem;
            }
          }
        }
      }

      & article:nth-child(1),
      & article:nth-child(3) {
        border: 1px solid var(--shape-stroke);
        background-color: var(--shape-base);
      }
    }
  }
}

footer {
  background: url(/assets/images/book-trace-background.png) top/cover no-repeat;
  height: 22rem;

  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  padding-bottom: 2.375rem;

  & #footer-social {
    margin-top: auto;
    display: flex;
    flex-direction: column;

    & > img {
      width: 9.875rem;
      margin-inline: auto;
    }

    & hr {
      border: none;
      border-top: 1px solid var(--shape-stroke);
      margin-block: 0.75rem;
    }

    & > div {
      display: flex;
      width: fit-content;
      margin-inline: auto;

      /* social links */
      & .link-image {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-color 400ms ease-out,
          background-image 400ms ease-out;
      }

      & .link-image:hover {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        border-radius: 50%;
        background-color: var(--shape-stroke);
      }

      & .link-image:nth-child(1) {
        background-image: url(/assets/icons/instagram.svg);
      }

      & .link-image:nth-child(1):hover {
        background-image: url(/assets/icons/instagram-hover.svg);
      }

      & .link-image:nth-child(2) {
        background-image: url(/assets/icons/twitter.svg);
      }

      & .link-image:nth-child(2):hover {
        background-image: url(/assets/icons/twitter-hover.svg);
      }

      & .link-image:nth-child(3) {
        background-image: url(/assets/icons/facebook.svg);
      }

      & .link-image:nth-child(3):hover {
        background-image: url(/assets/icons/facebook-hover.svg);
      }

      & .link-image:nth-child(4) {
        background-image: url(/assets/icons/discord.svg);
      }

      & .link-image:nth-child(4):hover {
        background-image: url(/assets/icons/discord-hover.svg);
      }

      & .link-image:nth-child(5) {
        background-image: url(/assets/icons/whatsapp.svg);
      }

      & .link-image:nth-child(5):hover {
        background-image: url(/assets/icons/whatsapp-hover.svg);
      }

      & .link-image:nth-child(6) {
        background-image: url(/assets/icons/mail.svg);
      }

      & .link-image:nth-child(6):hover {
        background-image: url(/assets/icons/mail-hover.svg);
      }
    }
  }

  & #footer-links {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.5rem;

    & div {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    & h3 {
      font: var(--font-title-xs);
      color: var(--text-body);
      margin-bottom: 0.5rem;
    }

    & p {
      color: var(--blue-light);
    }
  }
}

@media (width >= 70rem) {
  .background {
    height: 120vh;
    width: 100%;
    background: url(/assets/images/hero-background.png) center/cover no-repeat;
  }

  header {
    max-width: 70rem;
    margin-inline: auto;
    padding-top: 3.5rem;
    padding-inline: 0;

    & div {
      height: 3.625rem;
      width: 14.375rem;
      background: url(/assets/icons/logo-horizontal.svg) center/contain
        no-repeat;
    }
  }

  #hero {
    width: 55vw;
    margin-inline: auto;
    margin-top: 10.25rem;

    & h1 {
      font: var(--font-title-lg);
      margin-bottom: 2rem;
    }

    & p {
      font: var(--font-body-lg);
    }
  }

  main {
    max-width: 70rem;
    margin-inline: auto;
    margin-block: 6rem 5rem;

    & #about {
      text-align: center;
      padding-block: 7rem;

      & img {
        width: 5.5rem;
        height: 5.5rem;
      }

      & img:nth-child(1) {
        bottom: 1.75rem;
        right: 1rem;
        transform: rotate(-20deg);
      }

      & img:nth-child(2) {
        top: 1rem;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: rotate(20deg);
      }

      & img:nth-child(3) {
        bottom: 2.2rem;
        left: 1rem;
        transform: rotate(90deg);
      }

      & p {
        color: var(--text-body);
        font: var(--font-subtitle);

        & span {
          color: var(--blue-light);
        }
      }
    }

    & #kit {
      padding-top: 14.875rem;
      padding-bottom: 20rem;

      & .description {
        gap: 1rem;

        & h2 {
          font: var(--font-title-sm);
        }

        & img {
          width: 2rem;
        }

        & p {
          font: var(--font-body-md);
          margin-bottom: 5.5rem;
        }
      }

      & .images-wrapper {
        min-height: 110vh;

        & img[src*="book.png"] {
          width: 29rem;
          left: 22%;
        }

        & img[src*="bookmark-yellow.png"] {
          width: 10.75rem;
        }

        & img[src*="bookmark-purple.png"] {
          width: 10.75rem;
          left: 70%;
        }

        & img[src*="pin.png"] {
          width: 12.5rem;
          left: 12%;
        }

        & img[src*="pin.png"] {
          width: 12.5rem;
          left: 12%;
        }

        & img[src*="arrow-01"] {
          width: auto;
          bottom: 20%;
          left: 6%;
        }

        & img[src*="arrow-02"] {
          width: auto;
          top: 12%;
          left: 8%;
        }

        & img[src*="arrow-03"] {
          width: auto;
          bottom: 10%;
          right: 20%;
        }

        & p {
          font: var(--font-body-md);
        }

        & #pin {
          bottom: 36%;
        }

        & #bookmark {
          right: 25%;
        }

        & #book {
          top: 8%;
        }
      }
    }

    & #pricing {
      & .header-pricing {
        margin-bottom: 3rem;

        & h2 {
          font: var(--font-title-sm);
        }
      }

      & .cards-wrapper {
        gap: 0;
        justify-content: center;
        height: 100vh;

        & article {
          width: 18rem;

          & > img {
            display: initial;
          }

          & img[src*="Bunny"] {
            position: absolute;
            top: -3.2rem;
          }

          & > img[src*="star"] {
            position: absolute;
            transition: transform 500ms ease-in-out;
          }
        }

        & article:nth-child(1) {
          transform: translateY(3rem) rotate(-10deg);
          z-index: 0;

          & > img:nth-child(1) {
            top: -1.5rem;
            left: -1.8rem;
            width: 1.625rem;
            height: 1.625rem;
          }

          & > img:nth-child(2) {
            top: 0.7rem;
            left: -2rem;
            width: 0.8rem;
            height: 0.8rem;
          }
        }

        & article:nth-child(2) {
          z-index: 10;
        }

        & article:nth-child(3) {
          transform: translateY(3rem) rotate(10deg);
          z-index: 0;

          & > img:nth-child(1) {
            bottom: -1.5rem;
            right: -0.8rem;
            width: 0.8rem;
            height: 0.8rem;
          }

          & > img:nth-child(2) {
            bottom: 0.2rem;
            right: -2.5rem;
            width: 1.625rem;
            height: 1.625rem;
          }
        }

        & article:nth-child(1):hover {
          transform: translateY(2rem) rotate(-10deg);
          filter: drop-shadow(0 0 1rem var(--shape-stroke));
          z-index: 5;

          & > img:nth-child(1) {
            transform: rotate(15deg);
          }

          & > img:nth-child(2) {
            transform: rotate(-15deg);
          }
        }

        & article:nth-child(2):hover {
          transform: translateY(-0.5rem);
          filter: drop-shadow(0 0 1rem var(--shape-stroke));
          z-index: 5;
        }

        & article:nth-child(3):hover {
          transform: translateY(2rem) rotate(10deg);
          filter: drop-shadow(0 0 1rem var(--shape-stroke));
          z-index: 10;

          & > img:nth-child(1) {
            transform: rotate(-15deg);
          }

          & > img:nth-child(2) {
            transform: rotate(15deg);
          }
        }
      }
    }
  }

  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10rem;
    padding-bottom: 7.125rem;

    & #footer-social {
      margin-top: auto;
      & > img {
        width: 16.5rem;
      }
    }

    & #footer-links {
      margin-top: auto;
      gap: 3.5rem;
    }
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes unhide {
  0% {
    top: 30%;
    left: 50%;
    transform: scale(0.3) rotate(0deg);
  }

  60% {
    transform: scale(1.05) rotate(var(--rotate));
    top: var(--mid-top);
    left: var(--mid-left);
  }

  100% {
    top: var(--final-top);
    left: var(--final-left);
    transform: rotate(var(--rotate));
  }
}
